# Credentials
includes/config.php

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.log

# Database
*.sql

database/schema_updates/*.sql
database/schema_updates/*.txt
database/schema_updates/*.py