# ----------------------------------------------------------------------
# | DynaBio Global Error Document Routing                                |
# ----------------------------------------------------------------------

# Catch global 500 Internal Server Errors (Apache/PHP Fails to compile)
ErrorDocument 500 /dynabio/views/500.php

# Optional: Catch 404 Not Found
ErrorDocument 404 /dynabio/index.php
